src/wsdl/UpdateService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.ibs.ru/UpdateService/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UpdateService" targetNamespace="http://www.ibs.ru/UpdateService/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.ibs.ru/UpdateService/">

      <xsd:complexType name="IndexMapping">
        <xsd:sequence>
          <xsd:element name="sourceIndex" type="xsd:integer"/>
          <xsd:element name="targetIndex" type="xsd:integer"/>
        </xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="OutputData">
        <xsd:sequence>
          <xsd:element name="updatedData" type="xsd:base64Binary"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="erroneousData" type="xsd:base64Binary"/>
        </xsd:sequence>
      </xsd:complexType>

      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="obsoleteData" type="xsd:base64Binary"/>
            <xsd:element name="obsoleteDataType" type="xsd:string"/>
            <xsd:element name="actualData" type="xsd:base64Binary"/>
            <xsd:element name="actualDataType" type="xsd:string"/>
            <xsd:element maxOccurs="unbounded" minOccurs="1" name="keyColumnMapping" type="tns:IndexMapping"/>
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="mergeColumnMapping" type="tns:IndexMapping"/>
            <xsd:element default="false" minOccurs="0" name="complexKey" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
      <xsd:element name="UpdateResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="outputData" type="tns:OutputData"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="UpdateRequest">
    <wsdl:part element="tns:Update" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="UpdateResponse">
    <wsdl:part element="tns:UpdateResponse" name="parameters"/>
  </wsdl:message>
  <wsdl:portType name="UpdateService">
    <wsdl:operation name="Update">
      <wsdl:input message="tns:UpdateRequest"/>
      <wsdl:output message="tns:UpdateResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UpdateServiceSOAP" type="tns:UpdateService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="Update">
      <soap:operation soapAction="http://www.ibs.ru/UpdateService/Update"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UpdateService">
    <wsdl:port binding="tns:UpdateServiceSOAP" name="UpdateServiceSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
